@import '../../../../node_modules/nord/src/sass/nord.scss';
$white: $nord6;
$white-bis: $nord5;
$white-ter: $nord4;
$grey-darker: #363636;
$grey-dark: #4a4a4a;
$grey-light: #b5b5b5;
$grey-lighter: #d8d7d7;
$black-ter: $nord1;
$black-bis: $nord0;
$black: $nord2;
$primary: $nord9;
$link: $nord8;
$info: $nord10;
$success: $nord14;
$warning: $nord12;
$danger: $nord11;
$dark: $grey-darker;
$text: $grey-darker;
$scheme-main: $white;
$scheme-main-bis: $white-bis;
$scheme-main-ter: $white-ter;
$card-background-color: lighten($nord5, 5%);
$modal-card-body-background-color: $nord5;
$modal-card-head-background-color: $nord5;
$modal-card-footer-background-color: $nord5;
$modal-card-title-color: $grey-darker;
$input-color: $grey-darker;
$label-color: $grey-darker;
$card-header-color: $black-ter;
$menu-item-active-background-color: $success;
$menu-item-hover-color: $grey-darker;
$menu-item-color: $black-ter;
$pagination-color: $grey-darker;
$pagination-hover-color: $nord1;

@import '../../../../node_modules/bulma/bulma.sass';
