@import '../../../../node_modules/nord/src/sass/nord.scss';
$white: $nord6;
$white-bis: $nord5;
$white-ter: $nord4;
$grey-darker: $nord3;
$grey-dark: #b5b5b5;
$grey-light: #4a4a4a;
$grey-lighter: #363636;
$black-ter: $nord1;
$black-bis: $nord0;
$black: $nord2;
$primary: $nord9;
$link: $nord8;
$info: $nord10;
$success: $nord14;
$warning: $nord12;
$danger: $nord11;
$dark: $grey-darker;
$text: $grey-dark;
@import '../../../../node_modules/bulma/bulma.sass';
