@import '../../../../node_modules/nord/src/sass/nord.scss';
$white: $nord6;
$white-bis: $nord5;
$white-ter: $nord4;
$grey-darker: #363636;
$grey-dark: #4a4a4a;
$grey-light: #b5b5b5;
$grey-lighter: #d8d7d7;
$black-ter: $nord1;
$black-bis: $nord0;
$black: $nord2;
$primary: $nord9;
$link: $nord8;
$info: $nord10;
$success: $nord14;
$warning: $nord12;
$danger: $nord11;
$dark: $grey-darker;
$text: $grey-lighter;
$scheme-main: $black;
$scheme-main-bis: $black-bis;
$scheme-main-ter: $black-ter;
$card-background-color: lighten($nord0, 5%);
$modal-card-body-background-color: $nord0;
$modal-card-head-background-color: $nord0;
$modal-card-footer-background-color: $nord0;
$modal-card-title-color: $white;
$input-color: $white;
$label-color: $white;
$card-header-color: $white;
//$scheme-invert: $white;
//$scheme-invert-bis: $white-bis;
//$scheme-invert-ter: $white-ter;

@import '../../../../node_modules/bulma/bulma.sass';
